<app-datepicker [(ngModel)]="outerDatevalue"></app-datepicker>
{{outerDatevalue}}

<form [formGroup] = "dateForm" (ngSubmit) ="save()">
    <app-datepicker formControlName="startDate" required></app-datepicker>
    <app-datepicker formControlName="endDate" required></app-datepicker>
</form>
<button (click)="submit()">submit</button>

<enl-angular-dropdown></enl-angular-dropdown>
<!-- <form #form="ngForm" (ngSubmit)="logForm(form.value)">
    <label>Stardate:</label>
    <app-datepicker name="startDate" [ngModel] ="startDate" required></app-datepicker>
  
    <button type="submit">Submit</button>
  </form> -->